<nav class="navbar align-items-end" style="background-color: #e3f2fd;">
    <div class="container-fluid ">
        <p class="text-center w-100 lead mb-0">Adwita Arora</p>
        <p class="text-center w-100">2022-present</p>
    </div>
</nav>
